* {
   box-sizing: border-box;
}

body {
   margin: 2%;
   text-align: center;
}

#search {
   width: 25%;
   margin-top: 2VH;
   padding: 15px 20px;
   border-radius: 25px;
   font-size: 2vh;
   transition: .6s ease;

}

#search:hover {
   width: 50%;
   transition: .6s ease;
}

.gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
   row-gap: 25px;
   justify-items: center;
   max-width: 1000px;
   margin: 5vh auto;
}

img {
   border-radius: 25px;
   transition: 0.4s ease-out;
}

img:hover {
   border-radius: 0px;
   transition: 0.4s ease-out;
}

